/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
body{
	overflow-x: hidden;
	background-color: #000;
}
blockquote{
	background-color: rgba(102, 102, 102, 0.2);
	border-left: 8px solid #666;
	color: #000;
}
img{
	max-height: 600px;
	width: auto;
}
a{
	color: #01abdc;
}
.footnote{
	position: relative;
	display: inline;
	vertical-align: super;
	font-size: 12px;
	padding: 4px;
}
.footnote .citation{
	display: none;
	min-width: 200px;
	background-color: #000;
	color: #00e145;
	font-size: 12px;
  padding: 8px;
  border-radius: 6px;
	position: absolute;
  z-index: 1;
}
.footnote:hover .citation{
  display: block;
}
.oblique{
	font-style: oblique;
}
.intro{
	max-width: 70%;
	margin-left:auto;
	margin-right: auto;
	padding: 16px;
	color: #fff;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .intro{
    max-width: 100%;
  }
}
.introtext{
	padding-bottom:120px;
	background-color:#000;
	color:#fff;
}
.footertext{
	color: #fff;
}
.nav-footer{
	background-color: #000;
}
.nav-footer .sitemap a{
	color:#01abdc;
	display:inline;
}
.nav-footer .sitemap a:hover{
	color:#fff;
}
.footerlink{
	padding: 16px;
}
.footericon{
	width: 24px;
	vertical-align: sub;
	padding-right: 8px;
}
.caption{
	text-align:center;
}
.homeContainer{
	background-color:#000;
}
.projectTitle{
	color:#fff;
}
.coverimage{
	width: 100%;
	background-color: #000;
	text-align: center;
}
.pixelface{
	max-height:50vh;
}
.toc-headings li a{
	color: #fff;
}
.toc-headings li a:hover{
	color: #01abdc;
}
.toc-headings li a:active{
	color: #01abdc;
}
.post{
	background-color: #fff;
	padding: 50px;
	outline: black;
	outline-offset: -16px;
	outline-style: solid;
	outline-width: 8px;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
	.post{
		padding: 24px;
		outline: black;
		outline-offset: -8px;
		outline-style: solid;
		outline-width: 4px;
	}
}
.onPageNav .toc-headings > li > a.active{
	color: #01abdc;
}
.navigationSlider .slidingNav ul {
  border: 1px solid #fff;
}

.navigationSlider .slidingNav ul li {
  border: 1px solid #fff;
}
